*{
    margin: 0;
}

header{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background-color: black;
}



header > h1{
    color: rgb(185, 42, 138);
    font-size: 1em;
    margin: 0;
    text-align: center;
}

.container{
    display: flex;
    gap: 15px;
}

div{
    color: white;
}

.inicio{
    height: 150vh;
    max-width: 100%;
    background-image: url(imagem/sitemarykay.png);
    background-repeat: no-repeat;
    
    
}

@media (max-width: 700px){
    .inicio{
        background-image: url(imagem/sitemarykay.png);
        background-repeat: no-repeat;
        background-position: right;
        margin-top: 0;
        
    }
}




