@font-face {
    font-family: 'moda';
    src: url('font/Coolvetica\ Rg.otf') format('opentype');
    font-weight: normal;
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

main {
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden;
}

.cabeçalho{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background-color: black;
}

.cabeçalhoh1{
    color: rgb(255, 2, 120);
    font-size: 1.2em;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    margin-left: 5px;
    text-align: center;
}

.menu-link{
    display: flex;
    gap: 20px;
    margin-right: 15px;
    color: white;
    font-size: 1em;
}

a{
    text-decoration: none;
    color: white;
    transform: scale(1.05);
}

.dropdown{
    display: none;
}

@media (max-width: 480px){
    .menu-link{
        display: none;

    }

    .dropdown{
        display: block;
        background-color:  rgb(255, 2, 120);

    }
}

.inicio{
    height: auto;
    width: auto;
    display: flex;
    justify-content: space-around;
    background-image: url(fundosite/fundosite01.png);
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 1000px){
    .inicio{
        display: block;
    }
}

.titulo{
    padding-top: 50px;
    font-size: 2.5em;
    margin-left: 50px;
    text-align: left;
    color: black;
    font-family: 'moda', 'Times New Roman', Times, serif;
}

@media (max-width: 1050px){
    .titulo{
        margin-left: 10px;
        margin-right: 10px;
    }
}

.texto > ul{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    margin-top: 30px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

@media (max-width: 1050px){
    .texto > ul{
        margin-left: 0;
    }
}

.paragrafo{
    text-align: justify;
    margin-left: 50px;
    line-height: 3;
    text-indent: 1em;
    max-width: 70%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    color: black;
}

@media (max-width: 1050px){
    .paragrafo{
        text-align: left;
        text-align: justify;
        max-width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.imagem > img{
    max-width: 500px;
    margin-top: 50px;
    margin-right: 30px;
}

.imagem > p{
    width: 90%;
    text-align: center;
    font-size: 0.9em;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 1050px){
    .imagem > p{
        width: 100%;
        margin-top: 3%;
    }
}

@media (max-width: 1000px){
    .imagem > img{
        max-width: 100%;
        margin: 0;
        border-radius: 10px;
    }
}

.meio{
    height: auto;
    padding-bottom: 5%;
    background-image: url(fundosite/fundosite2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 1050px){
    .meio{
        margin-top: 10%;
    }
}

.meio > h1{
    text-align: center;
    margin-left: 0;
}

.meio > p{
    text-align: center;
    margin-left: 0;
    line-height: 3;
    text-indent: 1em;
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    color: black;
}

@media (max-width: 1050px){
    .meio > p{
        text-align: left;
        text-align: justify;
        max-width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.meiocomputador{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    
}

.meiocomputador > ul{
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.meiocelular > ul{
    display: none;
}

@media (max-width: 700px){
    .meiocomputador > ul{
        display: none;
    }

    .meiocelular > ul{
        display: flex;

        flex-direction: column;
        gap: 25px;
        font-family: Arial, Helvetica, sans-serif;
    }
}

.fim{
    height: auto;
    width: auto;
    padding-bottom: 10%;
    background-image: url(fundosite/fundosite01.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.fim > h1{
    text-align: center;
    margin-left: 0;
    height: auto;
}


.card-container{
    display: flex;
    justify-content: space-around;
}

@media (max-width: 700px){
    .card-container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

.cards{
    height: 250px;
    width: 200px;
    background-color: rgb(226, 231, 213);
    margin-top: 50px;
    border-radius: 10px 10px 10px 10px ; 
}

.cards > h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    margin-top: 10px;
}

.cards > img{
    height: 100%;
    width: 100%;
    border-radius: 15px 15px 15px 15px;
}

.creditos{
    height: auto;
    width: auto;
    background-color: black;
    padding-top: 15px;
    padding-bottom: 15px;
}

.creditos > h1{
    color: white;
    text-align: center;
    font-size: 0.7em;
    font-family: Arial, Helvetica, sans-serif;
}

.produtoextra{
    background-image: url(fundosite/fundosite01.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    padding-bottom: 50px;
}


.cardpg2 {
    display: flex;
    justify-content: space-around;
}

@media (max-width: 700px){
    .cardpg2{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

.cardspg2 {
    height: 250px;
    width: 200px;
    background-color: rgb(226, 231, 213);
    margin-top: 50px;
    border-radius: 10px 10px 10px 10px ;
    
}

.cardspg2 > img{
    height: 100%;
    width: 100%;
    border-radius: 15px 15px 15px 15px;
}

.modal-container{
    width: 100vw;
    height: 100vh;
    background-color: rgb(0,0,0, .5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}

@keyframes janela{
    from{
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }

    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.mostrar .janela{
    animation: janela .3s;
}

.janela > img{
    width: 300px;
    height: 400px;
    border-radius: 10px;
}

.janela > h1{
    margin-top: 20px;
    text-align: center;
    font-family: 'moda', Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    color: rgb(255, 2, 120);
}

.janela > p{
    margin-top: 20px;
    text-align: center;
    font-family: 'moda', Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    width: auto;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(18, 255, 125);
    border-radius: 40px;
}

.modal-container.mostrar{
    display: flex;
}





